/* navigation  */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 5px;
}

#navbar::before {
    opacity: 0.4;
}


/* HOme section  */

#home {
    height: 370px;
    padding: 3px 28px;
}

#home::before {
    height: 100%;
}

#home p {
    font-size: 13px;
}


/* Services  */

#services {
    display: flex;
    flex-direction: column;
}

#services .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}


/* Client section  */

#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 60px;
    padding: 2px;
    height: auto;
}


/* Contact section  */

#contact-box form {
    width: 80%;
}


/* footer  */


/* Utility classes  */

.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding-bottom: 4px 8px;
}

.client-item {
    padding-top: 0px;
    padding-bottom: 25px;
}

#plan {
    font-size: 2.3rem;
}

#services-conatainer::before {
    height: 2700px;
}